* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
span {
  color: #e95a08;
}
.cmn-btn {
  width: 100%;
  color: white;
  background-color: #e95a08;
  padding: 7px 10px;
  border-radius: 3px;
  cursor: pointer;
}
/* header,
.our-plants,
.flower-and-plants-lover {
  width: 100vw;
} */
header nav,
header main,
.our-plants main,
.flower-and-plants-lover main,
.latest-deals main,
footer main {
  width: 75%;
  margin: 0 auto;
  padding: 20px 0;
}
header main {
  height: 70vh;
  bottom: 0px;
}
header main *,
.flower-and-plants-lover main * {
  flex: 1;
}
header main h1 {
  font-size: 50px;
}
.our-plants h1 {
  font-size: 50px;
}
.our-plants main {
  gap: 20px 10px;
}
.our-plants main div {
  min-width: 270px;
  gap: 10px;
}
ul {
  list-style-type: square !important;
}
.flower-and-plants-lover {
  overflow: visible;
}
.flower-and-plants-lover main {
  gap: 50px;
  overflow: visible;
}
.flower-and-plants-lover .div-1 {
  z-index: -1;
  overflow: visible;
}
.flower-and-plants-lover .div-2 h1 {
  font-size: 50px;
}
.flower-and-plants-lover .flower-store {
  width: 100% !important;
}
.flower-and-plants-lover .trusted-badge {
  height: 200px;
  width: 200px;
  z-index: 11;
}
.latest-deals main figure {
  height: 300px;
  gap: 20px;
}
.latest-deals main h1 {
  font-size: 50px;
}
.latest-deals main figure p {
  color: white;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}
.latest-deals main figure p:hover {
  text-decoration: underline;
}
.latest-deals .mother-bg-1 {
  height: 100%;
  width: 30%;
  gap: 20px;
}
.latest-deals .child-bg-1 {
  height: 100%;
  background: url("assets/deal-bloom.png") no-repeat center;
  background-size: cover;
}
.latest-deals .child-bg-2 {
  height: 100%;
  background: url("assets/deal-ana.png") no-repeat center;
  background-size: cover;
}
.latest-deals .mother-bg-2 {
  height: 100%;
  width: 70%;
  background: url("assets/deal-zabo.png") no-repeat center;
  background-size: cover;
}

.join-brunch main {
  height: 500px;
  width: 100vw;
  background: url(assets/news-letter-bg.png) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
}
.join-brunch main h1 {
  font-size: 50px;
  color: white;
}
.join-brunch main form {
  width: 70%;
}
.join-brunch main button {
  width: 170px;
}
.join-brunch main input {
  width: calc(100% - 170px);
  background-color: white;
  border-radius: 2px;
  padding: 10px 20px;
}
footer main * {
  width: calc(100% / 3);
}
footer main p {
  width: 100%;
}
footer .lists-section ul li {
  margin: 10px 0;
  cursor: pointer;
  width: 100%;
}
footer .lists-section ul li:hover {
  text-decoration: underline;
}
footer .logo-section img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
}
